
    @font-face {
      font-family: Outfit-ExtraLight;
      src: url(font/Outfit-ExtraLight.ttf);
    }

    @font-face {
      font-family: Outfit-ExtraBold;
      src: url(font/Outfit-ExtraBold.ttf);
    }

    body{
      text-align: center;
      background-color: hsl(212, 45%, 89%);
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    main{
      background-color: hsl(0, 0%, 100%);
      height: auto;
      width: 20%;
      margin-top: 30%;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 1px 10px 1px hsla(0, 0%, 0%, 0.311) ;
    }

    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    h1{
      font-style: 700px;
      font-family: Outfit-ExtraBold;
      color: hsl(218, 44%, 22%);
      margin-top: 10px;
    }

    p{
      font-size: 15px;
      font-weight: 400px;
      font-family: Outfit-ExtraLight;
      color:hsl(216, 15%, 48%);
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .attribution{visibility: hidden;}
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }